In [1]:
import pandas as pd

In [3]:
weather_main_cities = pd.read_csv('../data/weather_main_cities_202405100846.csv')

In [5]:
weather_main_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   weather_date  1084 non-null   object
 1   weather_tavg  1084 non-null   float64
 2   weather_tmin  1084 non-null   float64
 3   weather_tmax  1084 non-null   float64
 4   weather_prcp  1084 non-null   float64
 5   weather_snow  813 non-null    float64
 6   weather_wdir  733 non-null    float64
 7   weather_wspd  1084 non-null   float64
 8   weather_wpgt  0 non-null      float64
 9   weather_pres  904 non-null    float64
 10  weather_tsun  0 non-null      float64
 11  station       1084 non-null   int64
dtypes: float64(10), int64(1), object(1)
memory usage: 101.8+ KB

In [6]:
weather_main_cities.sample(20)

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,station
67,2015-12-09,6.9,1.1,12.8,0.0,0.0,NaN,12.2,NaN,1019.7,NaN,74486
797,2017-12-16,2.6,-3.8,8.9,0.0,0.0,205.0,14.0,NaN,1020.1,NaN,72405
399,2016-02-08,-1.7,-7.7,3.3,13.5,NaN,9.0,34.2,NaN,1010.2,NaN,72509
919,2016-01-17,3.2,-1.6,5.6,1.8,0.0,339.0,15.1,NaN,1009.0,NaN,72502
966,2016-12-04,6.2,3.9,8.9,0.0,0.0,339.0,15.5,NaN,1022.5,NaN,72502
1063,2017-12-11,2.4,0.0,6.1,0.0,30.0,232.0,13.0,NaN,1016.1,NaN,72502
294,2015-01-24,0.2,-0.5,1.1,18.0,NaN,302.0,16.6,NaN,999.7,NaN,72509
840,2015-01-28,-5.1,-9.3,0.6,0.0,180.0,318.0,20.2,NaN,1018.0,NaN,72502
672,2016-02-10,0.9,-3.2,3.9,0.0,0.0,297.0,20.9,NaN,1009.4,NaN,72405
729,2017-01-07,-3.8,-7.1,-2.7,0.3,0.0,347.0,23.8,NaN,NaN,NaN,72405
688,2016-02-26,3.8,-0.5,4.4,0.0,0.0,313.0,25.9,NaN,1016.6,NaN,72405
279,2015-01-09,-4.8,-7.1,-1.0,0.3,NaN,237.0,23.0,NaN,1016.2,NaN,72509
894,2015-12-23,12.6,10.0,18.9,36.6,0.0,NaN,6.8,NaN,NaN,NaN,72502
52,2015-02-22,1.2,0.0,6.1,5.1,130.0,NaN,6.5,NaN,1021.7,NaN,74486
851,2015-02-08,1.3,-0.5,2.2,0.0,150.0,NaN,13.7,NaN,1013.2,NaN,72502
658,2016-01-27,5.7,-0.5,8.9,0.0,100.0,NaN,15.5,NaN,1020.4,NaN,72405
243,2017-12-04,6.4,1.7,10.6,0.0,0.0,92.0,12.2,NaN,1029.6,NaN,74486
485,2017-02-03,-1.3,-3.8,0.6,0.0,NaN,280.0,18.7,NaN,1019.6,NaN,72509
896,2015-12-25,15.8,12.2,17.2,0.8,0.0,NaN,1.8,NaN,1021.0,NaN,72502
558,2015-01-17,1.5,-2.1,4.4,0.0,0.0,NaN,14.4,NaN,1026.9,NaN,72405

In [7]:
weather_other_cities = pd.read_csv('../data/weather_other_cities_202405100846.csv')weather_other_cities = pd.read_csv('../data/weather_other_cities_202405100846.csv')

In [8]:
weather_other_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   weather_date  1084 non-null   object
 1   weather_tavg  1084 non-null   float64
 2   weather_tmin  1084 non-null   float64
 3   weather_tmax  1084 non-null   float64
 4   weather_prcp  1084 non-null   float64
 5   weather_snow  548 non-null    float64
 6   weather_wdir  494 non-null    float64
 7   weather_wspd  1084 non-null   float64
 8   weather_wpgt  0 non-null      float64
 9   weather_pres  957 non-null    float64
 10  weather_tsun  210 non-null    float64
 11  station       1084 non-null   int64
dtypes: float64(10), int64(1), object(1)
memory usage: 101.8+ KB

In [10]:
weather_other_cities.sample(20)

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,station
636,2016-01-05,11.9,10.0,12.8,25.4,NaN,165.0,15.5,NaN,1005.7,NaN,72494
817,2015-01-05,10.7,9.4,12.2,8.1,0.0,197.0,23.0,NaN,NaN,NaN,72793
345,2015-12-16,18.7,10.0,21.1,33.0,0.0,341.0,13.3,NaN,NaN,NaN,72243
549,2015-01-08,12.0,9.4,15.6,0.0,NaN,NaN,1.4,NaN,1017.5,NaN,72494
317,2015-02-16,15.4,2.8,20.0,3.8,0.0,294.0,20.5,NaN,1014.9,NaN,72243
490,2017-02-08,23.6,16.1,30.6,0.0,0.0,249.0,17.3,NaN,1010.0,NaN,72243
1020,2017-01-27,6.8,2.8,12.2,0.0,0.0,NaN,9.4,NaN,1037.5,NaN,72793
241,2017-12-02,24.3,20.0,27.8,0.0,NaN,28.0,10.4,NaN,1019.0,NaN,72202
941,2016-02-08,7.7,3.9,15.0,0.0,0.0,2.0,13.7,NaN,1030.5,NaN,72793
651,2016-01-20,11.6,8.3,13.3,0.0,NaN,NaN,6.5,NaN,1023.7,NaN,72494
1072,2017-12-20,4.8,0.0,9.4,3.3,0.0,347.0,15.8,NaN,1022.1,NaN,72793
60,2015-12-02,25.6,23.3,28.3,7.4,NaN,139.0,10.4,NaN,1014.4,NaN,72202
758,2017-02-05,12.6,10.0,16.1,4.1,NaN,NaN,18.4,NaN,1012.2,NaN,72494
32,2015-02-02,23.0,19.4,29.4,0.5,NaN,206.0,13.7,NaN,1017.0,392.0,72202
650,2016-01-19,13.9,11.7,16.7,26.4,NaN,NaN,20.9,NaN,1017.6,NaN,72494
4,2015-01-05,25.2,22.2,28.9,0.5,NaN,NaN,9.7,NaN,NaN,450.0,72202
145,2016-02-25,20.0,15.0,21.1,0.3,NaN,305.0,16.9,NaN,1019.1,653.0,72202
247,2017-12-08,26.1,23.9,30.6,0.0,NaN,166.0,12.6,NaN,1012.3,NaN,72202
655,2016-01-24,11.3,9.4,13.9,0.0,NaN,283.0,14.4,NaN,1023.0,NaN,72494
439,2016-12-19,3.1,-1.0,10.0,0.0,0.0,0.0,17.6,NaN,1035.5,NaN,72243