In [1]:
import pandas as pd

In [2]:
weather_main_cities = pd.read_csv('../data/weather_main_cities_202405100846.csv')

In [3]:
weather_main_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   weather_date  1084 non-null   object
 1   weather_tavg  1084 non-null   float64
 2   weather_tmin  1084 non-null   float64
 3   weather_tmax  1084 non-null   float64
 4   weather_prcp  1084 non-null   float64
 5   weather_snow  813 non-null    float64
 6   weather_wdir  733 non-null    float64
 7   weather_wspd  1084 non-null   float64
 8   weather_wpgt  0 non-null      float64
 9   weather_pres  904 non-null    float64
 10  weather_tsun  0 non-null      float64
 11  station       1084 non-null   int64
dtypes: float64(10), int64(1), object(1)
memory usage: 101.8+ KB

In [4]:
weather_main_cities.sample(20)

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,station
476,2017-01-25,3.6,2.2,6.7,0.5,NaN,287.0,25.2,NaN,997.7,NaN,72509
273,2015-01-03,-2.1,-5.5,2.8,15.7,NaN,NaN,16.6,NaN,1034.7,NaN,72509
338,2015-12-09,4.7,2.8,7.8,0.0,NaN,NaN,12.2,NaN,1020.9,NaN,72509
830,2015-01-18,-1.1,-4.9,4.4,46.7,0.0,NaN,9.0,NaN,NaN,NaN,72502
368,2016-01-08,1.4,-1.0,5.6,0.0,NaN,28.0,17.6,NaN,1024.6,NaN,72509
1010,2017-01-17,4.3,3.3,5.0,13.5,0.0,NaN,10.1,NaN,1021.2,NaN,72502
684,2016-02-22,8.8,5.0,11.7,0.0,0.0,NaN,11.2,NaN,1019.7,NaN,72405
516,2017-12-06,10.6,2.2,14.4,11.7,NaN,246.0,22.7,NaN,NaN,NaN,72509
421,2016-12-01,10.1,6.1,13.9,7.9,NaN,273.0,25.2,NaN,1000.5,NaN,72509
1050,2017-02-26,6.3,0.0,7.8,0.0,0.0,283.0,25.6,NaN,1015.4,NaN,72502
803,2017-12-22,7.7,2.2,13.9,0.0,0.0,NaN,8.6,NaN,1021.7,NaN,72405
390,2016-01-30,2.2,-1.0,6.1,0.0,NaN,245.0,22.0,NaN,1012.5,NaN,72509
832,2015-01-20,3.1,-0.5,5.6,0.0,0.0,293.0,14.8,NaN,1013.4,NaN,72502
910,2016-01-08,3.6,-0.5,7.2,0.0,0.0,35.0,13.0,NaN,NaN,NaN,72502
500,2017-02-18,2.4,-3.2,9.4,0.0,NaN,230.0,22.0,NaN,1005.5,NaN,72509
866,2015-02-23,-1.7,-13.8,2.8,0.0,130.0,321.0,25.6,NaN,1025.8,NaN,72502
60,2015-12-02,9.9,8.3,13.9,3.0,0.0,NaN,7.2,NaN,NaN,NaN,74486
393,2016-02-02,6.6,2.2,10.0,0.0,NaN,275.0,11.2,NaN,1024.2,NaN,72509
747,2017-01-25,10.3,7.2,16.1,0.0,0.0,225.0,9.7,NaN,1006.0,NaN,72405
1027,2017-02-03,-0.4,-3.8,1.7,0.0,0.0,289.0,17.6,NaN,1022.2,NaN,72502