In [1]:
import pandas as pd

In [2]:
weather_other_cities = pd.read_csv('../data/weather_other_cities_202405100846.csv')

In [3]:
weather_other_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1084 entries, 0 to 1083
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   weather_date  1084 non-null   object
 1   weather_tavg  1084 non-null   float64
 2   weather_tmin  1084 non-null   float64
 3   weather_tmax  1084 non-null   float64
 4   weather_prcp  1084 non-null   float64
 5   weather_snow  548 non-null    float64
 6   weather_wdir  494 non-null    float64
 7   weather_wspd  1084 non-null   float64
 8   weather_wpgt  0 non-null      float64
 9   weather_pres  957 non-null    float64
 10  weather_tsun  210 non-null    float64
 11  station       1084 non-null   int64
dtypes: float64(10), int64(1), object(1)
memory usage: 101.8+ KB

In [4]:
weather_other_cities.sample(20)

,weather_date,weather_tavg,weather_tmin,weather_tmax,weather_prcp,weather_snow,weather_wdir,weather_wspd,weather_wpgt,weather_pres,weather_tsun,station
795,2017-12-14,11.0,6.1,17.8,0.0,NaN,NaN,4.0,NaN,1019.2,NaN,72494
483,2017-02-01,19.4,12.2,27.2,0.0,0.0,180.0,12.2,NaN,1016.3,NaN,72243
300,2015-01-30,15.0,7.2,18.3,0.0,0.0,43.0,14.4,NaN,1027.7,NaN,72243
63,2015-12-05,23.0,22.2,25.0,74.7,NaN,27.0,11.2,NaN,1021.2,111.0,72202
742,2017-01-20,11.0,6.1,13.3,30.2,NaN,NaN,20.9,NaN,995.7,NaN,72494
988,2016-12-26,2.3,0.6,5.6,7.4,0.0,159.0,13.7,NaN,1022.0,NaN,72793
142,2016-02-22,23.1,19.4,26.7,0.0,NaN,121.0,14.4,NaN,1016.3,NaN,72202
1049,2017-02-25,3.7,0.0,6.7,0.3,0.0,180.0,11.5,NaN,1021.9,NaN,72793
203,2017-01-23,25.0,20.0,26.7,30.5,NaN,252.0,23.0,NaN,NaN,NaN,72202
728,2017-01-06,6.7,3.3,9.4,0.0,NaN,108.0,12.2,NaN,1018.8,NaN,72494
691,2016-02-29,13.9,11.1,19.4,0.0,NaN,NaN,5.8,NaN,1021.1,NaN,72494
202,2017-01-22,26.0,23.9,30.6,0.0,NaN,185.0,24.5,NaN,1008.2,NaN,72202
2,2015-01-03,25.6,24.4,28.3,0.0,NaN,117.0,18.7,NaN,1022.8,421.0,72202
409,2016-02-18,15.3,5.6,25.0,0.0,0.0,155.0,14.8,NaN,1023.5,NaN,72243
1083,2017-12-31,3.8,0.6,6.1,0.0,0.0,10.0,19.8,NaN,NaN,NaN,72793
538,2017-12-28,5.0,3.3,7.2,0.0,0.0,35.0,13.0,NaN,1029.4,NaN,72243
252,2017-12-13,16.6,11.1,19.4,0.0,NaN,NaN,8.3,NaN,1018.1,NaN,72202
540,2017-12-30,12.1,10.0,14.4,0.0,0.0,29.0,11.9,NaN,1020.8,NaN,72243
64,2015-12-06,24.8,23.9,26.7,0.0,NaN,54.0,19.1,NaN,1020.8,391.0,72202
564,2015-01-23,11.4,7.2,19.4,0.0,NaN,NaN,3.2,NaN,1026.3,NaN,72494